.body{
display: flex;
  align-items: center;           
  justify-content: space-between; 
  color: black;
}
.buttoncont button{
      margin-right: 10px;
      font-size: 16px;
      cursor: pointer;
	  }
